<header class="mb-4">
    <h2 class="fw-bold">交易功能</h2>
    <h4 class="text-secondary fw-bold">母單委託—群組分類功能</h4>
  </header>
  <ol class="nav nav-tabs" id="group_funcTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="add_group-tab" data-bs-toggle="tab" data-bs-target="#add_group"
        type="button" role="tab" aria-controls="add_group" aria-selected="true">新增群組</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="change_group-tab" data-bs-toggle="tab" data-bs-target="#change_group"
        type="button" role="tab" aria-controls="change_group" aria-selected="false">修改群組</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="delete_group-tab" data-bs-toggle="tab" data-bs-target="#delete_group"
        type="button" role="tab" aria-controls="delete_group" aria-selected="false">刪除群組</button>
    </li>
  </ol>
  <div class="tab-content mt-5" id="group_funcTabContent">
    <ol class="tab-pane fade show active" id="add_group" role="tabpanel" aria-labelledby="add_group">
      <li class="my-2">點選+新增</li>
      <li class="my-2">輸入類別名稱</li>
      <li class="my-2">確認</li>
      <li class="my-2">新增於群組列表</li>
      <img src={{img2_2_1.Url}} alt={{img2_2_1.Alt}}>
    </ol>
    <ol class="tab-pane fade" id="change_group" role="tabpanel" aria-labelledby="change_group">
      <li class="my-2">點選欲修改之群組</li>
      <li class="my-2">點選編輯</li>
      <li class="my-2">輸入新的類別名稱</li>
      <li class="my-2">確認</li>
      <li class="my-2">更新於群組列表</li>
      <img src={{img2_2_2.Url}} alt={{img2_2_2.Alt}}>
    </ol>
    <ol class="tab-pane fade" id="delete_group" role="tabpanel" aria-labelledby="delete_group">
      <li class="my-2">點選欲刪除之群組</li>
      <li class="my-2">點選刪除</li>
      <li class="my-2">確認</li>
      <li class="my-2">更新於群組列表</li>
      <img src={{img2_2_3.Url}} alt={{img2_2_3.Alt}}>
      <img src={{img2_2_4.Url}} alt={{img2_2_4.Alt}}>
    </ol>
  </div>