<header class="mb-4">
    <h2 class="fw-bold">管理功能(管理者權限)</h2>
    <h4 class="text-secondary fw-bold">買方資訊—帳號對應</h4>
</header>
<ol class="nav nav-tabs" id="clientaccountTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="addaccount-tab" data-bs-toggle="tab"
            data-bs-target="#addaccount" type="button" role="tab" aria-controls="addaccount"
            aria-selected="true">新增對應帳號</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="editaccount-tab" data-bs-toggle="tab" data-bs-target="#editaccount"
            type="button" role="tab" aria-controls="editaccount" aria-selected="false">編輯對應帳號</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delaccount-tab" data-bs-toggle="tab" data-bs-target="#delaccount"
            type="button" role="tab" aria-controls="delaccount" aria-selected="false">刪除對應帳號</button>
    </li>
</ol>
<div class="tab-content mt-5" id="clientaccountTabContent">
    <ol class="tab-pane fade show active" id="addaccount" role="tabpanel"
        aria-labelledby="addaccount">
        <li class="my-2">切換帳號對應分頁</li>
        <li class="my-2">點選新增對應帳號</li>
        <li class="my-2">點選欲新增之買方後，會帶出買方資訊</li>
        <li class="my-2">輸入對應帳號資訊</li>
        <li class="my-2">儲存</li>
        <li class="my-2">更新於買方期商帳號對應列表</li>
        <li class="list-style-none my-2"><img src={{img3_1_5.Url}}  alt={{img3_1_5.Alt}}></li>
    </ol>
    <ol class="tab-pane fade" id="editaccount" role="tabpanel" aria-labelledby="editaccount">
        <li class="my-2">切換帳號對應分頁</li>
        <li class="my-2">點選編輯</li>
        <li class="my-2">輸入欲修改資訊</li>
        <li class="my-2">儲存</li>
        <li class="my-2">更新於買方期商帳號對應列表</li>
        <li class="list-style-none my-2"><img src={{img3_1_6.Url}}  alt={{img3_1_6.Alt}}></li>
        <li class="list-style-none my-2"><img src={{img3_1_7.Url}}  alt={{img3_1_7.Alt}}></li>
    </ol>
    <ol class="tab-pane fade" id="delaccount" role="tabpanel" aria-labelledby="delaccount">
        <li class="my-2">切換帳號對應分頁</li>
        <li class="my-2">點選刪除</li>
        <li class="my-2">確認刪除</li>
        <li class="my-2">更新於買方期商帳號對應列表</li>
        <li class="list-style-none my-2"><img src={{img3_1_8.Url}} alt={{img3_1_8.Alt}}></li>
    </ol>
</div>