<header class="mb-4">
    <h2 class="fw-bold">交易功能</h2>
    <h4 class="text-secondary fw-bold">指示單—新增指示單</h4>
  </header>
  <ol class="nav nav-tabs" id="add_orderTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="futures-tab" data-bs-toggle="tab" data-bs-target="#futures"
        type="button" role="tab" aria-controls="futures" aria-selected="true">期貨</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="option-tab" data-bs-toggle="tab" data-bs-target="#option" type="button"
        role="tab" aria-controls="option" aria-selected="false">選擇權</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="batch_import-tab" data-bs-toggle="tab" data-bs-target="#batch_import"
        type="button" role="tab" aria-controls="batch_import" aria-selected="false">批次匯入</button>
    </li>
  </ol>
  <div class="tab-content mt-5" id="add_orderTabContent">
    <ol class="tab-pane fade show active" id="futures" role="tabpanel" aria-labelledby="futures">
      <li class="my-2">點選新增指示單</li>
      <li class="my-2">輸入下單資訊，點買賣別即下單</li>
      <li class="my-2">確定新增成功</li>
      <li class="my-2">新增於指示單列表</li>
      <img src={{img2_1_8.Url}} alt={{img2_1_8.Alt}}>
      <img src={{img2_1_9.Url}} alt={{img2_1_9.Alt}}>
    </ol>
    <ol class="tab-pane fade" id="option" role="tabpanel" aria-labelledby="option">
      <li class="my-2">點選新增指示單</li>
      <li class="my-2">切換選擇權頁籤</li>
      <li class="my-2">輸入下單資訊，點買賣別即下單</li>
      <li class="my-2">確定新增成功</li>
      <li class="my-2">新增於指示單列表</li>
      <img src={{img2_1_10.Url}} alt={{img2_1_10.Alt}}>
      <img src={{img2_1_11.Url}} alt={{img2_1_11.Alt}}>
    </ol>
    <ol class="tab-pane fade" id="batch_import" role="tabpanel" aria-labelledby="batch_import">
      <li class="my-2">點選批次匯入</li>
      <li class="my-2">選擇要上傳之檔案</li>
      <li class="my-2">開啟</li>
      <li class="my-2">確定新增成功</li>
      <li class="my-2">新增於指示單列表</li>
      <img src={{img2_1_12.Url}} alt={{img2_1_12.Alt}}>
    </ol>
  </div>