<header class="mb-4">
    <h2 class="fw-bold">管理功能(管理者權限)</h2>
    <h4 class="text-secondary fw-bold">交易群組—對應關聯帳號列表</h4>
</header>
<ol class="nav nav-tabs" id="associtateTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="addassocitate-tab" data-bs-toggle="tab"
            data-bs-target="#addassocitate" type="button" role="tab" aria-controls="addassocitate"
            aria-selected="true">新增關聯買方</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delassocitate-tab" data-bs-toggle="tab"
            data-bs-target="#delassocitate" type="button" role="tab" aria-controls="delassocitate"
            aria-selected="false">刪除關聯買方</button>
    </li>
</ol>
<div class="tab-content mt-5" id="associtateTabContent">
    <ol class="tab-pane fade show active" id="addassocitate" role="tabpanel"
        aria-labelledby="addassocitate">
        <li class="my-2">選擇要新增關聯帳號的交易群組</li>
        <li class="my-2">點選新增關聯買方</li>
        <li class="my-2">勾選欲新增之買方帳號</li>
        <li class="my-2">儲存</li>
        <li class="my-2">更新於對應關聯帳號列表</li>
        <li class="list-style-none my-2"><img src={{img3_2_5.Url}}
                alt={{img3_2_5.Alt}}></li>
    </ol>
    <ol class="tab-pane fade" id="delassocitate" role="tabpanel" aria-labelledby="delassocitate">
        <li class="my-2">選擇要刪除關聯帳號的交易群組</li>
        <li class="my-2">點選要刪除的買方帳號</li>
        <li class="my-2">確認</li>
        <li class="my-2">更新於對應關聯帳號列表</li>
        <li class="list-style-none my-2"><img src={{img3_2_6.Url}}
                alt={{img3_2_6.Alt}}></li>
        <li class="list-style-none my-2"><img src={{img3_2_7.Url}}
                alt={{img3_2_7.Alt}}></li>
    </ol>
</div>
